@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  font-family: "Quicksand";
}

.projects-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

